body {
  background: url("C89 background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login_div1,
.login_div2 {
  background: white;
  padding: 10px;
  float: none;
  border-radius: 15px;
}

#player1_name,
#player2_name {
  display: inline-block;
  margin-left: 20px;
}
#word {
  width: 60%;
}
#word_display {
  letter-spacing: 5px;
}
#output {
  border-radius: 10px;
  border-top: 10px solid blue;
  padding: 10px;
  float: none;
  text-align: left;
}
h3 {
  color: black;
}
h2 {
  color: blue;
  font-size: 60;
}
h5 {
  color: gray;
}
h4 {
  text-align: left;
  font-size: 25px;
}
span {
  font-size: 0.6cm;
}
